/* Container for the peer connect chat */
.peer-connect-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between; /* Dark background */
}

/* Inner container holding messages */
.peer-connect-inner-container {
  flex-grow: 1;
  overflow-y: auto;
}

/* Each message container */
.peer-connect-message {
  display: flex;
  align-items: flex-start;
}

/* Message bubble styling */
.peer-connect-message-bubble {
  background-color: #1f2e37; /* Dark bubble for messages */
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
  font-size: 14px;
}

/* Time display under each message */
.peer-connect-message-time {
  font-size: 12px;
  color: #b0b0b0;
  margin-left: 10px;
}

/* Styling for user's own messages (on the right) */
.peer-connect-message-self {
  justify-content: flex-end;
}

.peer-connect-message-self .peer-connect-message-bubble {
  background-color: #2f4e65; /* Different background for own messages */
}

/* Username styling */
.peer-connect-username {
  margin-right: 10px;
  font-weight: bold;
  color: #a0a0a0;
}

/* Chat input area */
.peer-connect-text {
  width: 80%;
  height: 4vh;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  background-color: #020203;
  color: white;
  resize: none;
  display: flex;
  margin-top: 10px;
  align-self: center;
}
.peer-connect-text:focus {
  outline: none;
}

.peer-connect-send {
  cursor: pointer;
  padding-left: 6rem;
}

/* Bottom input container */
.peer-connect-input-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 10rem;
  border-radius: 0.6rem;
  background-color: #020203;
  padding: 0 5px;
}
