.outputdisplay-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outputdisplay-output-display {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.outputdisplay-section {
  margin-bottom: 20px;
}

.outputdisplay-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.outputdisplay-icon {
  font-size: 24px;
  margin-right: 10px;
}

.outputdisplay-h2 {
  font-size: 18px;
  font-weight: normal;
}

.outputdisplay-content {
  background-color: #2a2a2e;
  padding: 15px;
  border-radius: 8px;
}

.outputdisplay-para {
  margin: 0;
}

.outputdisplay-speaker,
.control-button {
  display: flex;
  margin-top: 1rem;
  background-color: #1b1b1d;
  padding: 1px;
  border-radius: 8px;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.outputdisplay-speech-controls {
  display: flex;
  gap: 0.5rem;
}
