.example-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    color: #ccc; 
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 30px; 
  }
  
  .examples-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
    justify-content: center; 
  }
  
  .example-box {
    background-color: #1c1c1c; 
    color: #ccc; 
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .example-box:hover {
    background-color: #333; 
    color: #fff; 
  }

  